@using ShanellStore.DataLayer.Entities.User
@model ShanellStore.Core.DTOs.User.EditUserViewModel
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Role> Roles = ViewData["Roles"] as List<Role>;
}
<form asp-action="EditUser" asp-controller="Users" asp-area="Admin" method="post">
    <input type="hidden" asp-for="UserId"/>
    <div class="col-md-8">
        <div class="form-group">
            <label>نام کاربری</label>
            <label class="text-success">@Model.UserName</label>
        </div>
        <div class="form-group">
            <label>ایمیل</label>
            <input type="email" asp-for="Email" class="form-control">
        </div>
        <div class="form-group">
            <label>کلمه عبور</label>
            <input type="text" asp-for="Password" class="form-control">
            <p class="help-block">در صورت وارد کردن کلمه عبور ، کلمه عبور کاربر تغییر خواهد کرد</p>
        </div>
        <div class="form-group">
            <label>انتخاب نقش کاربر</label>
            @foreach (var item in Roles)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="SelectedRoles" value="@item.RoleId" @((Model.UserRoles.Any(r => r == item.RoleId) ? "checked" : ""))>@item.RoleTitle
                    </label>
                </div>
            }

        </div>
        <input type="submit" value="ثبت" class="btn btn-success"/>
    </div>
</form>
