@model ShanellStore.Core.DTOs.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Areas/Users/Views/Shared/_UserLayout.cshtml";
}
<form asp-action="ChangePassword" method="post">
    @if (ViewBag.IsSuccess != null)
    {
        <div class="alert alert-success">
            کلمه عبور شما با موفقیت ویرایش شد
        </div>
    }
    <div class="form-group">
        <label>کلمه عبور فعلی</label>
        <input type="password" asp-for="OldPassword" class="form-control">
    </div>
    <div class="form-group">
        <label> کلمه عبورجدید</label>
        <input type="password" asp-for="Password" class="form-control">
    </div>

    <div class="form-group">
        <label>تکرار کلمه عبور جدید</label>
        <input type="password" asp-for="RePassword" class="form-control">
    </div>
    <input type="submit" class="btn btn-success" value="ثبت تغییرات"/>
    <div class="text-danger" asp-validation-summary="All"></div>
</form>