@model ShanellStore.Core.DTOs.User.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "_Layout";
}

<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/Index">صفحه اصلی</a><span>|</span></li>
            <li>بازیابی کلمه عبور</li>
        </ul>
    </div>
</div>

<div class="w3l_banner_nav_left">
    <!-- login -->
    <div class="w3_login">
        <h3>بازیابی کلمه عبور</h3>
       
        <div class="w3_login_module">
           
            <div class="module form-module">

                <div>
                    <i class="fa fa-times fa-pencil"></i>
                </div>

                <div class="form">
                    @if (ViewBag.IsSuccess != null)
                    {
                        <div class="alert alert-success">
                            <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
                        </div>
                    }
                    <form asp-action="ForgotPassword" method="post">
                        <input asp-for="Email" type="text" name="Email" placeholder="ایمیل">
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})

                        <button class="btn btn-success"> تایید و ارسال </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- //login -->
</div>