@model ShanellStore.Core.DTOs.User.LoginViewModel
@{
    ViewData["Title"] = "ورود";
    Layout = "_Layout";
}
<div class="col-md-12">
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/Index">صفحه اصلی</a><span>|</span></li>
                <li>ورود</li>
            </ul>
        </div>
    </div>
</div>


<div class="banner">
    <div class="w3l_banner_nav_right">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">تعویض ناوبری</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            @await Component.InvokeAsync("CategoryComponent")
            <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
        </nav>
    </div>
    <div class="w3l_banner_nav_left">
        <!-- login -->
        <div class="w3_login">
            <h3>ورود</h3>
            <div class="module form-module">
                <div>
                    <i class="fa fa-times fa-pencil"></i>
                    <div class="tooltip"><a href="Register">ثبت نام</a></div>
                </div>
                <div class="form">
                    <h2>
                        وارد حساب کاربری خود شوید
                    </h2>
                    <form asp-action="Login" method="post">
                        <input asp-for="Email" type="text" name="Email" placeholder="ایمیل">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        <input asp-for="Password" type="password" name="Password" placeholder="رمز عبور">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <label>مرا بخاطر بسپار</label>
                        <input asp-for="RememberMe" type="checkbox" name="RememberMe">

                        <input type="submit" value="ورود">
                    </form>
                </div>
                <div class="cta"><a href="ForgotPassword">رمز عبور خود را فراموش کرده اید؟</a></div>
            </div>
            <script>
                $('.toggle').click(function () {
                    // Switches the Icon
                    $(this).children('i').toggleClass('fa-pencil');
                    // Switches the forms
                    $('.form').animate({
                        height: "toggle",
                        'padding-top': 'toggle',
                        'padding-bottom': 'toggle',
                        opacity: "toggle"
                    }, "slow");
                });
            </script>
        </div>
        <!-- //login -->
    </div>
    <div class="clearfix"></div>
</div>