@model ShanellStore.Core.DTOs.User.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "_Layout";
}

<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/Index">صفحه اصلی</a><span>|</span></li>
            <li>بازیابی کلمه عبور</li>
        </ul>
    </div>
</div>

<div class="w3l_banner_nav_left">
    <!-- login -->
    <div class="w3_login">
        <h3>بازیابی</h3>
        <div class="w3_login_module">
            <div class="module form-module">
                <div>
                    <i class="fa fa-times fa-pencil"></i>
                </div>
                <div class="form">
                    <form asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="ActiveCode"/>
                        <input asp-for="Password" type="password" name="Password" placeholder="رمز عبور">
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})

                        <input asp-for="RePassword" type="password" name="RePassword" placeholder="تکرار رمز عبور">
                        @Html.ValidationMessageFor(m => m.RePassword, "", new {@class = "text-danger"})

                        <input type="submit" class="btn btn-success" value="ثبت تغییرات">
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    <!-- //login -->
</div>
