<div class="footer">
    <div class="container" dir=ltr>
        <div class="col-md-3 w3_footer_grid">
            <h3>اطلاعات</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="/Products">محصولات</a><i>/</i></li>
                <li><a href="/About">درباره ما</a><i>/</i></li>
                <li>
                    <a href="/OfferedProducts">
                        بهترین تخفیف
                    </a><i>/</i>
                </li>
                <li><a href="/Services">خدمات</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>اطلاعات</h3>
            <ul class="w3_footer_grid_list">
                <li>
                    <a href="faqs.html">
                        پرسش و پاسخ
                    </a>
                </li>
                <li>
                    <a href="privacy.html">
                        سیاست حفظ حریم خصوصی
                    </a>
                </li>
                <li>
                    <a href="privacy.html">
                        شرایط استفاده
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>
                دسته بندی ها
            </h3>
            @await Component.InvokeAsync("FooterCategoryComponent")
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>
                پست های بلاگ
            </h3>
            <ul class="w3_footer_grid_list">
                <li><a href="/Blog">وبلاگ ما</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="agile_footer_grids">
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
            </div>
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                <div class="w3_footer_grid_bottom">
                    <h5>ارتباط با ما</h5>
                    <ul class="agileits_social_icons">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_footer_copy">
            <p>کلیه حقوق مادی و معنوی برای مجموعه برنامه نویسان محفوظ می باشد<a href="http://barnamenevisan.org/">برنامه نویسان</a></p>
        </div>
    </div>
</div>