@model ShanellStore.DataLayer.Entities.User.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>جهت بازیابی حساب کابری خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://localhost:44314/Account/ResetPassword/@Model.ActiveCode">بازیابی حساب کاربری</a>
    </p>
</div>
