<div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_right">
            <h1><a href="/Home/Index"><span>فروشگاه</span> شانل</a></h1>
        </div>
        <div class="w3ls_logo_products_right1">
            <ul class="special_items">
                <li><a href="/Products">محصولات</a><i>/</i></li>
                <li><a href="/About">درباره ما</a><i>/</i></li>
                <li>
                    <a href="/OfferedProducts">
                        بهترین تخفیف
                    </a><i>/</i>
                </li>
                <li><a href="/Blog">وبلاگ ما</a><i>/</i></li>
                <li><a href="/Services">خدمات</a></li>
            </ul>
        </div>
        <div class="w3ls_logo_products_right1">
            <ul class="phone_email">
                <li><i class="fa fa-phone" aria-hidden="true"></i> 1874 682 935 (98+)</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ShanellStore@gmail.com">ShanellStore@gmail.com</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>