
<section class="slider">
    <div class="flexslider" dir=ltr>
        <ul class="slides">
            <li>
                <div class="w3l_banner_nav_left_banner">
                    <div class="more">
                        <a href="/Products" class="button--saqui button--round-l button--text-thick">
                            همین الان خرید کنید
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l_banner_nav_left_banner1">
                    <div class="more">
                        <a href="/Products" class="button--saqui button--round-l button--text-thick">
                            همین الان خرید کنید
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l_banner_nav_left_banner2">
                    <h3>تا<i>50%</i> تخفیف</h3>
                    <div class="more">
                        <a href="/Products" class="button--saqui button--round-l button--text-thick">
                            همین الان خرید کنید
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
