
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="newsletter-top-serv-btm">
    <div class="container">
        <div class="col-md-4 wthree_news_top_serv_btm_grid">
            <div class="wthree_news_top_serv_btm_grid_icon">
                <i class="fa fa-barcode" aria-hidden="true"></i>
            </div>
            <h3>

                ضمانت بازگشت کالا
            </h3>
            <p>اگر از محصول ناراضی بودید میتوانید تا 5 روز آن را بازگشت دهید</p>

        </div>
        <div class="col-md-4 wthree_news_top_serv_btm_grid">
            <div class="wthree_news_top_serv_btm_grid_icon">
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <h3>

                تحویل به موقع و آسان
            </h3>
            <p>ارسال کالا به تمامی استان ها و شهرهای ایران</p>
        </div>
        <div class="col-md-4 wthree_news_top_serv_btm_grid">
            <div class="wthree_news_top_serv_btm_grid_icon">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <h3>

               حراج های مناسب
            </h3>
            <p>سنجش توان خرید مشتریان، شرایط اقلیمی و دیدگاه مردمی به لحاظ فرهنگی </p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

